*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    background: black;
    width: 100vw;
    height: 100vh;
}
.game-menu{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    pointer-events: none;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    pointer-events: visible;
    background-color: rgba(120,120,120,0.5);
    border-radius: 2rem;
    border: 5px solid rgb(100,100,100);
}
.bt{
    width:70px;
    height: 70px;
}
.hide{
    pointer-events: none;
    visibility: hidden;
}