*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    background: black;
    width: 100vw;
    height: 100svh;
}

/*------------------------------------------------*/
.score-board{
    position: absolute;
    top:0;
    border: 1px solid rgba(100, 100, 100, 0.5);
    background: rgba(0,0,0,0);
}
/*------------------------------------------------*/
.opaq-0{
    animation: animation-opaq 1s;
}
.opaq-1 {
    animation: animation-opaq 1s reverse;
}
@keyframes animation-opaq {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.hide{
    pointer-events: none;
    visibility: hidden;
    display: none;
}