#ui-place {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: all;

    /* #ui-canvas {
        position: absolute;
        background: rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: all;
    } */

    .html-ui {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        wIdth: 100%;
        height: 100%;
        z-index: 50;
        background: rgba(0, 0, 0, 0);
        pointer-events: none;
    }
}
.html-ui .down-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    .result-place {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 200px;
        padding: 5px;
        font: lighter 0.9rem "Arial", sans-serif;
        margin-bottom: -1rem;

        .result-place-header {
            color: rgb(133, 133, 133);

        }

        .result-place-result {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .result-win {
                width: 20px;
                height: 20px;
            }

            .result-score {
                color: rgb(250, 132, 64);
                font: bold 2rem "Arial", sans-serif;
            }
        }
    }
}

.html-ui .scoreboard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 360px;
    height: 90px;
    padding: 5px;

    .container-ui {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 100%;
        margin: 2px;
        background-color: rgba(100, 100, 100, 0.5);
        box-shadow: 5px 5px 5px rgb(19, 19, 19);

        .icon {
            width: 50px;
            height: 50px;
            margin-left: 5px;
        }

        .score-ui,
        .timer-ui {
            font: bold 3.5rem "Arial", sans-serif;
            color: rgba(122, 175, 111, 0.9);
            margin-inline: 5px;
        }
    }
}

.html-ui .settings-block {
    position: absolute;
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 1rem;
    gap: 3px;

    .settings-button {
        width: 40px;
        height: 40px;
        border: none;
        pointer-events: all;
        border-radius: 0.5rem;
        scale: 1;
    }

    .settings-button:hover {
        scale: 1.1;
        box-shadow: 0px 0px 5px 5px rgba(143, 154, 248, 0.4);
    }
}

.html-ui .notyfy-container {
    position: absolute;
    top: calc(50svh - 130px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;

    .notify-win {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(250, 250, 250);
        background: transparent;
        width: 100%;
        height: 100%;

        p {
            font: bold 5rem "Arial", sans-serif;
            text-shadow: -2px -2px 5px rgb(19, 19, 19);
        }
    }

    .notify-game-other {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(116, 33, 33);
        background: transparent;
        width: 100%;
        height: 100%;

        p {
            font: bold 4rem "Arial", sans-serif;
            text-shadow: -2px -2px 5px rgb(3, 3, 3);
        }
    }

}

.html-ui .level-description {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    top: 60px;
    width: 300px;
    min-height: 200px;
    background: transparent;
    color: white;
    font: 1.2rem "Arial", sans-serif;

    .level-desc-part {
        color: rgb(116, 116, 116);
        font-size: 1rem;
    }

    .level-desc-header {
        letter-spacing: 0.15rem;
        font-weight: bold;
        color: rgb(163, 113, 39);
        font-size: 2rem;
        text-align: center;
        margin-top: -1rem;
        ;
    }

    .level-desc-description {
        font-style: italic;
        font-size: 1.1rem;
        text-align: center;
        color: rgb(143, 142, 142);
    }
}

.down-block .ui-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.1rem;
    min-height: 60px;
    margin-bottom: 0rem;

    .text {
        display: flex;
        color: rgb(235, 230, 225, 0.3);
        font: 1.0rem sans-serif;
        line-height: 1.3rem;
        margin-top: 0.2rem;
        margin-inline-start: 0.5rem;
    }

    .text-name {
        display: flex;
        color: rgba(233, 69, 69, 0.4);
        font: 1.1rem, "Impact" sans-serif;
        line-height: 1.0rem;
    }
}

.down-block .menu-buttons-place {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 5px;

    .menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 20px;
        color: rgb(131, 120, 106);
        background: transparent;
        border: none;
        font-size: 1.2rem;
        pointer-events: all;
        text-align: center;
    }

    .menu-button:hover {
        color: rgb(12, 247, 255);
        text-shadow: 0 0 10px rgb(233, 254, 255), 0 0 20px rgb(197, 253, 255);
        animation: menu-button-color 0.3s linear;
    }

    .menu-button:hover::before {
        left: 0rem;
        border-color: rgb(231, 254, 255);
    }

    .menu-button:hover::after {
        left: -0.3rem;
        border-color: rgb(227, 254, 255);
    }

    .left-menu-button::before {
        content: "";
        background: transparent;
        position: relative;
        width: 20px;
        height: 20px;
        left: 0.3rem;
        top: -0.1rem;
        border-left: 3px solid rgb(131, 120, 106);
        border-top: 3px solid rgb(131, 120, 106);
        transform: rotateZ(-45deg);
    }

    .right-menu-button::after {
        content: "";
        background: transparent;
        position: relative;
        width: 20px;
        height: 20px;
        left: -0.5rem;
        top: -0.1rem;
        border-right: 3px solid rgb(131, 120, 106);
        border-bottom: 3px solid rgb(131, 120, 106);
        transform: rotateZ(-45deg);
    }
}